// GENERAL
$primary-color-1: #07E2AD;

$secondary-color-1: #0E559E;

$cocomoreGreen : #07E2AD;
$cocomoreLightGrey:#EFEDEA;


$gray-color-1: #737373;
$gray-color-2: #999999;
$gray-color-3: #b2b2b2;
//$gray-color-3: #transparent;

// Black - White
$general-white: #ffffff;
$general-black: #000000;

/* Validation Colors */
$system-color-1: #fafafa;
$system-color-2: #ffebee;
//$system-color-3: transparent;


// NAVIGATION
$navigation-font-color-general: #4b4b4b;
$navigation-font-color-additional-1: #4b4b4b;
$navigation-additional-underline-color: #4b4b4b;
