@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');


$opensans-light: "Open Sans", Arial, Helvetica, sans-serif; // 300
$opensans-regular: "Open Sans", Arial, Helvetica, sans-serif; //400
$opensans-semibold: "Open Sans", Arial, Helvetica, sans-serif; //600
$opensans-bold: "Open Sans", Arial, Helvetica, sans-serif; //700
$opensans-extrabold: "Open Sans", Arial, Helvetica, sans-serif; //800
