/**
 * @file
 * Cocomore Breakpoints
 *
 * SCSS Breakpoints for Cocomore Drupal Projects
 */

 $size-m: 768px;
 $size-l: 1024px;
 $size-xl: 1440px;

// Tablet ( >= 768px )
@mixin size-m {
  @media (min-width: $size-m) {
    @content;
  }
}

// Small Desktop ( >= 1024px )
@mixin size-l {
  @media (min-width: $size-l) {
    @content;
  }
}

// Big Desktop ( >= 1440px)
@mixin size-xl {
  @media (min-width: $size-xl) {
    @content;
  }
}