@mixin clearfix() {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

@function calculate-rem($size) {
    $rem-size: $size / 16px;
    @return #{$rem-size}rem;
}

$browser-context: 16;
@function calculate-em($pixels, $context: $browser-context) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return $pixels / $context * 1em;
}

/* calculate font vw depending on viewport / in case of Syngenta 1140px */
@function get-vw($target) {
    $vw-context: (1140 * 0.01) * 1px;
    @return ($target / $vw-context) * 1vw;
}

@mixin font-size-vw($size) {
    font-size: get-vw($size);
}

@mixin font-size($size) {
    font-size: calculate-rem($size) !important;
}

@mixin line-height($size) {
    line-height: calculate-rem($size);
}

@mixin hidden-text() {
    font-size: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

